---
import Section from "../Section.astro"

import HTML from "@/icons/html.astro"
import CSS from "@/icons/css.astro"
import JavaScript from "@/icons/javascript.astro"
import Tailwind from "@/icons/tailwind.astro"
import Bootstrap from '@/icons/bootstrap.astro'
import Sass from '@/icons/sass.astro'

import React from "@/icons/react.astro"
import ReactRouter from "@/icons/reactRouter.astro"
import Next from "@/icons/next.astro"
import AstroJS from '@/icons/astrojs.astro'

import TypeScript from "@/icons/type.astro"
import Node from "@/icons/node.astro"
import Express from "@/icons/express.astro"
import Nest from "@/icons/nest.astro"

import MySQL from "@/icons/mysql.astro"
import PostgreSQL from "@/icons/postgresql.astro"
import MongoDB from "@/icons/mongodb.astro"

import GitHub from "@/icons/GitHub.astro"
import DockerHub from "@/icons/DockerHub.astro"
import Kubernetes from "@/icons/kubernetes.astro"
import AWS from "@/icons/aws.astro"

import { skills, titles } from "@cv"
const { skills_title } = titles

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  "GitHub Actions": GitHub,
  Next,
  Tailwind,
  Bootstrap,
  Sass,
  ReactRouter,
  AstroJS,
  Express,
  Nest,
  PostgreSQL,
  MongoDB,
  "Docker": DockerHub,
  Kubernetes,
  AWS
}
---

<Section title={skills_title}>
  <!-- <ul>
    {
      skills.map(({ name }) => {
        // const iconName = name === "Next.js" ? "Next" : name
        // const Icon = SKILLS_ICONS[iconName]
        const Icon = SKILLS_ICONS[name]

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul> -->

  {skills.map(({field, stack}) => {

    return (
      <div>
        <h3>{field}</h3>
        <ul>
          {stack.map(({name}) => {
            const Icon = SKILLS_ICONS[name]
  
            return (
              <li>
                {Icon && <Icon/>} <span>{name}</span>
              </li>
            )
          })} 
        </ul>
      </div>
    )
  })}
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }

  div {
    margin-bottom: 10px;
  }

  div h3 {
    font-weight: 500;
    color: #111;
    margin-bottom: 5px;
    padding-left: 10px;
  }

  div span {
    font-size: 0.7rem;
  }
</style>
